{% extends 'aventuras/base.html' %}
{% block body %}
    {% set avenura=avenura or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Avenura Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Autor'),'Autor',avenura.Autor,errors.Autor) }}
                        {{ form_input(_('Preco'),'Preco',avenura.Preco,errors.Preco) }}
                        {{ form_input(_('Titulo'),'Titulo',avenura.Titulo,errors.Titulo) }}
                        {{ form_input(_('Edicao'),'Edicao',avenura.Edicao,errors.Edicao) }}
                        {{ form_input(_('Descricao'),'Descricao',avenura.Descricao,errors.Descricao) }}
                        {{ form_input(_('Editora'),'Editora',avenura.Editora,errors.Editora) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}