{% extends 'base/base.html' %}
{% block js %}
<script src="/static/livro.js"></script>>
{% endblock %}
{% block body %}
    {% set erros = erros or None %}
    {% set book = book or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
             <button id="mostrar-form-btn" class="btn btn-success">{% trans %}Cadastrar Novo Livro{% endtrans %}</button>
	            <hr/>
	            <div id="livro-form" class="well">
		            <h1 class="text-center">Cadastro de Livro</h1>

		            <div role="form">
			            <input type="hidden" value="04dacef8c8ee6d7a4dc582034ad5db5e" name="_csrf_code">

			            <div id="tituloDiv" class="form-group">
				             <label for="tituloInput" class="control-label">Titulo</label>
				             <input id="tituloInput" type="text" class="form-control" name="titulo" value="">
				             <span id="help-titulo" class="help-block"></span>
                        </div>

				         <div class="form-group ">
					         <label for="precoInput" class="control-label">Preco</label>
					         <input id="precoInput" type="text" class="form-control" name="preco" value="">
				         </div>

				         <div class="form-group ">
					        <label for="dataInput" class="control-label">Data</label>
					        <input id="dataInput" type="text" class="form-control" name="data" value="">
				         </div>

				        <button id="salvar-btn" class="btn btn-success">Salvar</button>
				        <img id="ajax-gif" src="/static/img/ajax.gif" />
			        </div>

		        </div>
                   <h1 class="text-center"><font color = "blue" face = "Garamond">Tabela de Livros</font></h1>
                   <table class="table table-striped table-hover">
                       <thead>
                        <tr>
                            <th></th>
                            <th>id</th>
                            <th>Titulo</th>
                            <th>Preço</th>
                            <th>Criação</th>
                        </tr>
                        </thead>
                        {% for livro in livro_lista %}
                        <tr>
                            <td><a href="{{ livro.edit_path }}" class="btn btn-primary"><i class="glyphicon  glyphicon-pencil"></i></a></td>
                            <td>{{ livro.id}}</td>
                            <td>{{ livro.title}}</td>
                            <td>{{ livro.price}}</td>
                            <td>{{ livro.creation}}</td>
                            <td>
                                <form action="{{ livro.delete_path }}" method="post">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger"><i class="glyphicon  glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                   </table>
                </div>
            </div>
         </div>
    </div>
 {% endblock %}
