{% extends 'litinfantojuvs/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{% trans %}<font color = "blue" face = "Garamond">Livros de Lit. Infanto-juvenil</font>{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Autor{% endtrans %}</th>
                        <th>{% trans %}Preço{% endtrans %}</th>
                        <th>{% trans %}Edição{% endtrans %}</th>
                        <th>{% trans %}Titulo{% endtrans %}</th>
                        <th>{% trans %}Descrição{% endtrans %}</th>
                        <th>{% trans %}Editora{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for litinfantojuv in litinfantojuvs %}
                        <tr>
                            <td>{{ litinfantojuv.Autor }}</td>
                            <td>{{ litinfantojuv.preco }}</td>
                            <td>{{ litinfantojuv.edicao }}</td>
                            <td>{{ litinfantojuv.titulo }}</td>
                            <td>{{ litinfantojuv.descricao }}</td>
                            <td>{{ litinfantojuv.editora }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}