{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body%}
    <div class="container text-center">

        <div class="row">
            <div class="col-md-12">
                <img src="../static/img/Logo2.png"</img>
                <p>{% trans %}Livaria Online onde você encontra os melhores livros{% endtrans %}</p>
            </div>
        </div>
        <br/>

        <div class="row2">
            <div class="col-xs-4">
                <div class="well" style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/litnacionals"><b><font face = "Geramond">Literatura Nacional</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/litestrangeiras"><b><font face = "Geramond">Literatura Estrangeira</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/litinfantojuvs"><b><font face = "Geramond">Lit. Infanto-Juvenil</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/didaticoss"><b><font face = "Geramond">Didáticos</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

             <div class="col-xs-3">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/dicionarioss"><b><font face = "Geramond">Dicionários</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

             <div class="col-xs-3">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/listaReligiaos"><b><font face = "Geramond">Religião</font></b></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

             <div class="col-xs-3">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/autoajudas"><b><font face = "Geramond">Autoajuda</font></b></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}