{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <img src="../static/img/Logo2.png"</img>
                <p>{% trans %}Livaria Online onde você encontra os melhores livros{% endtrans %}</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-xs-6">
                <div class="well" style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/aventuras"><b><font face = "Courier">Aventura</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/acaos"><b><font face = "Courier">Ação</b></font></a>{% endtrans %}
                    </h2>
                    <br/>

                </div>
            </div>

            <div class="col-xs-6">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a href="/litnacionals "><b><font face = "Courier">Literatura Nacional</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well"style="background-color:#000000">
                    <h2>{% trans %}
                        <a><b><font face = "Courier">Literatura Estrangeira</b></font></a>{% endtrans %}
                    </h2>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}