{% extends 'dicionarioss/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{% trans %}<font color = "blue" face = "Garamond">Dicionários</font>{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Titulo{% endtrans %}</th>
                        <th>{% trans %}Autor{% endtrans %}</th>
                        <th>{% trans %}Editora{% endtrans %}</th>
                        <th>{% trans %}Edição{% endtrans %}</th>
                        <th>{% trans %}Preço{% endtrans %}</th>
                        <th>{% trans %}Descrição{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dicionarios in dicionarioss %}
                        <tr>
                            <td>{{ dicionarios.Autor }}</td>
                            <td>{{ dicionarios.preco }}</td>
                            <td>{{ dicionarios.edicao }}</td>
                            <td>{{ dicionarios.titulo }}</td>
                            <td>{{ dicionarios.descricao }}</td>
                            <td>{{ dicionarios.editora }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}