{% extends 'cristianismos/base.html' %}
{% block body %}
   {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>{% trans %}<font color = "blue" face = "Garamond">Cristianismo</font>{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Autor{% endtrans %}</th>
                        <th>{% trans %}Preço{% endtrans %}</th>
                        <th>{% trans %}Edição{% endtrans %}</th>
                        <th>{% trans %}Titulo{% endtrans %}</th>
                        <th>{% trans %}Descrição{% endtrans %}</th>
                        <th>{% trans %}Editora{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cristianismo in cristianismos %}
                        <tr>
                            <td>{{ cristianismo.autor }}</td>
                            <td>{{ cristianismo.preco }}</td>
                            <td>{{ cristianismo.edicao }}</td>
                            <td>{{ cristianismo.titulo }}</td>
                            <td>{{ cristianismo.descricao }}</td>
                            <td>{{ cristianismo.editora }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}